body {
 animation: mymove ease infinite 10s;
    text-align: center;
}

a {
 text-decoration: none;   
    color: inherit;
    animation: momove 10s ease infinite;
    background-color: white;
    opacity: 0.5;
    font-size: 30px;
}

p.indice {
   background-color: white;
    opacity: 0.5; 
    margin: 0px 400px 0px 400px;
    border-radius: 40px;
}

@keyframes momove {
  0% {
    color: #00732C;
  }
  20% {
    color: #FFED80;
    }
  40% {
    color: #E50071;
    }
  60% {
    color: #008BD2;
    }
  80% {
    color: #EF7C00;
    }
  100% {
    color: #00732C;
    }
  }

button {
   animation: momove 10s ease infinite;
    opacity: 0.5;  
           border: black 1px solid;
    height: 40px;
    width: 150px;
           font-size: 20px;
    border-radius: 120px;  
}

button.bo {
      animation: momove 10s ease infinite;
    opacity: 0.5;  
           border: black 1px solid;
    height: 40px;
    width: 150px;
           font-size: 20px;
    border-radius: 120px;
    margin: 50px 0px 0px 0px;
}

@keyframes mymove {
  0% {
    background-color: #00732C;
  }
  20% {
    background-color: #FFED80;
    }
  40% {
    background-color: #E50071;
    }
  60% {
    background-color: #008BD2;
    }
  80% {
    background-color: #EF7C00;
    }
  100% {
    background-color: #00732C;
    }
  }

button.acceuil {
 position: relative;
    bottom: 90px;
   right: 535px;
       border: black 1px solid;
    height: 40px;
    width: 150px;
       font-size: 20px;
    border-radius: 120px;
   margin: 0px 0px 0px 0px;
    animation: momove 10s ease infinite;
    opacity: 0.5;
}

button.acceui {
 position: relative;
   right: 510px;
    bottom: 90px;
       border: black 1px solid;
    height: 40px;
    width: 150px;
       font-size: 20px;
    border-radius: 120px;
   margin: 0px 30px 0px 0px;
    animation: momove 10s ease infinite;
    opacity: 0.5;
}

img {
 height: 200px;
    width: 200px;
    border-radius: 100px;
    border: black 1px solid;
}

h1 {
 font-size: 40px;
    animation: momove ease infinite 10s;
    background-color: white;
    border-radius: 40px;
    opacity: 0.5;
    margin: 0px 400px 0px 400px;
}